<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (C) 2013  Stefan Schroeder
  
  This program is free software; you can redistribute it and/or
  modify it under the terms of the GNU General Public License
  as published by the Free Software Foundation; either version 2
  of the License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with this program; if not, write to the Free Software
  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
  
  Contributors:
      Stefan Schroeder - initial API and implementation
-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %5p %C{1}:%L %m%n"/>
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
		  <param name="LevelMin" value="trace" />
		  <param name="LevelMax" value="info" />
		</filter>
	</appender>
  
	<root>
		<priority value="debug"></priority>
		<appender-ref ref="stdout"/>
	</root>

</log4j:configuration>
