<?xml version="1.0" ?>
<!--
  ~ Licensed to GraphHopper GmbH under one or more contributor
  ~ license agreements. See the NOTICE file distributed with this work for
  ~ additional information regarding copyright ownership.
  ~
  ~ GraphHopper GmbH licenses this file to you under the Apache License,
  ~ Version 2.0 (the "License"); you may not use this file except in
  ~ compliance with the License. You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<config>

    <controler>
        <iterations>2000</iterations>
    </controler>

    <construction>
        <insertion name="bestInsertion"/>
    </construction>

    <strategy>
        <memory>3</memory>
        <searchStrategies>

            <searchStrategy id="randomRuinAndRecreate">
                <selector name="selectBest"/>
                <acceptor name="acceptNewRemoveWorst"/>
                <!-- 			<acceptor id="1" name="schrimpfAcceptance">
                                 <alpha>0.1</alpha>
                                 <iterations>10</iterations>
                             </acceptor> -->
                <modules>
                    <module name="randomRuin">
                        <share>0.5</share>
                    </module>
                    <module name="bestInsertion"></module>
                </modules>
                <probability>0.5</probability>
            </searchStrategy>

            <searchStrategy id="radialRuinAndRecreate">
                <selector id="1" name="selectBest"/>
                <acceptor name="acceptNewRemoveWorst"/>
                <!-- 			<acceptor id="1" name="schrimpfAcceptance">
                                 <alpha>0.1</alpha>
                                 <iterations>10</iterations>
                             </acceptor> -->
                <modules>
                    <module name="radialRuin">
                        <share>0.3</share>
                        <distanceMeasure>euclid</distanceMeasure>
                    </module>
                    <module name="bestInsertion"></module>
                </modules>
                <probability>0.5</probability>
            </searchStrategy>

            <!--  			<searchStrategy id="gendreauPostOpt">  -->
            <!-- 				<modules>  -->
            <!-- 					<module name="gendreauPostOpt">  -->
            <!-- 						<iterations>200</iterations>  -->
            <!--  		 				<share>0.2</share>  -->
            <!-- 					</module>  -->
            <!-- 				</modules>  -->
            <!--  				<probability>0.1</probability>  -->
            <!--  			</searchStrategy> --> -->
        </searchStrategies>

        <before></before>

        <after></after>

    </strategy>


</config>
